<!DOCTYPE html>
<html lang="en">
<head>
    <title> About US </title>
    <link rel="stylesheet" href="/Static/Css/about.css">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='Css/about.css') }}">

</head>
<body>

    <header>
        
        <nav>
            <div class="logo"> IBM Team ID : NM2023TMID11422</div>
            <ul class="menu">
                <li><a href="{{ url_for('home') }}">Home</a></li>
                <li><a href="{{ url_for('classify') }}">Classify</a></li>
                <li><a href="{{ url_for('team') }}">Team</a></li>
                <li><a href="#">About</a></li>
            </ul>
        </nav>
        
    </header>

    <main class="main"> 

        <div class="web-title">
            <h2>Deep Learning for detecting disease in tea leaves</h2>
            <p>Tea is an important economic crop. It contains a variety of effective ingredients required by the human body, has medical and health care functions, and is quite effective in enhancing human immunity. Planting tea is an important way for tea farmers to make their fortunes. Currently, China’s tea planting area and output are the highest in the world. However,because of the effects of many diseases, such as tea algae leaf spot (TALS), tea bud blight (TBB), tea white scab (TWS), and tea leaf blight (TLB), the annual tea production has been reduced by as much as 20%1. Tea leaf diseases can also reduce the quality of tea and cause serious economic losses to tea farmers. Accurate detection and identiication of tea leaf diseases and timely prevention and control measures are of great significance to reduce the loss of tea production, improve the quality of tea, and increase the income of tea farmers.</p>
        </div>

        
    </main>

    <footer></footer>
</body>
</html>