<!DOCTYPE html>
<html lang="en">
<head>
    <title> Team </title>
    <link rel="stylesheet" href="/Static/Css/team.css">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='Css/team.css') }}">
</head>
<body>
    <header>
        
        <nav>
            <div class="logo"> IBM Team ID : NM2023TMID11422</div>
            <ul class="menu">
                <li><a href="{{ url_for('home') }}">Home</a></li> 
                <li><a href="{{ url_for('classify') }}">Classify</a></li>
                <li><a href="#">Team</a></li>
                <li><a href="{{ url_for('about') }}">About</a></li>
            </ul>
        </nav>
        
    </header>

    <main class="main"> 

        <div class="web-title">
            <h2> TEAM MEMBERS </h2>
            <p> </p>
        </div>

        <div class="container">
            <div class="text">
              <h3>TEAM LEADER</h3>
              <p> Shivani A (3rd year CSE)</p>
            </div>
            <div class="text">
              <h3>TEAM MEMBER 01</h3>
              <p> Sakthi S (3rd year CSE)</p>
            </div>
            <div class="text">
              <h3>TEAM MEMBER 02</h3>
              <p> Anushya A (3rd year CSE)</p>
            </div>
            <div class="text">
              <h3>TEAM MEMBER 03</h3>
              <p> Vishnupriya R (3rd year CSE)</p>  

    <footer></footer>
</body>
  